.popup {
    background-color: rgba($color-black, .8);
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $color-white;
        width: 75%;
        transform: translate(-50%, -50%) scale(0);
        //z-index: 3100;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem (rgba($color-black, .8));
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all .5s .2s;

        @include respond(tab-port) {
            display: block;
            width: 92%;
        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle; //werkt alleen met table-cell
        padding: 3rem 4rem;

        &heading-secondary {
            @include respond(tab-port) {
                margin-top: 2rem;
            }
        }

        @include respond(tab-port) {
            width: 100%;
            display: block;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2; //hiermee creeer je kolomen van tekst, en hier specificeer je dat het 2 kolommen moet zijn
        column-gap: 4rem; //de afstand tussen de kolommen
        column-rule: 1px solid $color-grey-dark-2; //Dit is het streepje dat je ziet tussen de kolomen
        hyphens: auto;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        color: $color-grey-dark;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        line-height: 1;

        &:hover {
            color: $color-primary;
        }
    }

}